
  .title{
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 15px;
  }

    /********************/
   /*      workout     */
  /********************/
  .workout_container{
    text-align: center;
    width: 90%;
    min-height: 600px;
    margin: 20px 5%;
    box-shadow: 2px 2px 3px 1px #13225f40;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .finished_container{
    text-align: center;
    width: 90%;
    min-height: 600px;
    margin: 20px 5%;
    box-shadow: 2px 2px 3px 1px #13225f40;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }

  .timer{
    text-align: center;
    text-align: -webkit-center;
  }

  .congrats_gif{
    width: 100%;
    min-height: 200px;
    background-image: url(/congrats.gif);
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .finished_summery{
    width: 95%;
    margin: 20px;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    padding: 15px;
    background: #43d4b93d;
    color: black;
    border-radius: 5px;
  }

  .finished_button{
    width: 95%;
    margin: 20px;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    padding: 15px;
    background: #123766b8;
    color: white;
    border-radius: 5px;
    border: none;
  }  

.exercise_pic, .break_pic{
  background-image: url(/Plank.jpg);
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.break_pic{
  background-image: url(/break.jpg);
}
.exercise{
  width: 50%;
  padding: 2.5%;
}
.exercise_title{
  text-transform: uppercase;
  padding: 30px;
}
.exercise_title, .exercise_explanation{
  padding-bottom: 30px;
  font-weight: lighter;
  font-size: larger;
  text-align: center;
}


    /********************/
   /*    choice info   */
  /********************/

  .choice_container{
    position: relative; 
    text-align: center;
    width: 49%;
    min-height: 350px;
    margin: 5px;
    display: inline-grid;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(90deg,
                                rgb(212, 226, 233),
                                rgba(255,255,255,.5)), 
                                url('/workout.jpg');
    box-shadow: 2px 2px 3px 1px #13225f40;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  .choice_title{
    font-size: larger;
    margin: 2px;
  }
  .choice_button ,.day_choice_button ,.start_button{
    color: #fff;
    background-color: #0d1b2c;
    line-height: 1.75;
    border-radius: 4px;
    border: none;
    width: 90%;
    margin: 5px;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    height: 40px;
  }
  .day_choice_button{
      width: 20%;
      background-color: #0d1b2ca1;;
      border-radius: 5px;
  }
  
  .day_choice_button:hover{
    background-color: #0d1b2cb5;
  }

  .start_button{
    margin: 5px;
    padding: 15px 50px;
  }

  .exerciseList, .dayList{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    
  }

  .dayList{
    overflow: auto;
    white-space: nowrap;
    height: 100px;
  }

  .exerciseList_items{
    width: 50%;
  }

  @media (max-width: 768px){
    /* .login_pic{
      display: none;
    } */
    .choice_container{
      width: 100%;
    }
  }