  .container_background
  {
    margin: 10px;
  }
  .container{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 90%;
    margin-left: -45%;
    margin-top: -300px;
    min-height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Register{
    padding: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 54px;
  }
  .textfield{
    font: inherit;
    padding: 18.5px 14px;
    border: none;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  .button{
    color: #fff;
    background-color: #0d1b2c;
    line-height: 1.75;
    border-radius: 4px;
    border: none;
    width: 90%;
    margin: 5px;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    height: 40px;
  }
  .test{
    background: none;
    color:  #0d1b2c;;
    text-decoration: none;
    font-size: larger;
  }
  .pic{
    background-image: url("/login.jpg");
    width: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  .Register_form{
    width: 50%;
    padding: 2.5%;
  }

  @media (max-width: 768px){
    .pic{
      display: none;
    }
    .Register_form{
      width: 100%;
    }
  }